<head>
   <style>
                    body {
                    background-color: yellow
                    }
                      table {
                            border-color: blue;
                            text-align: center;
                            color: blue;
                      }
                    </style>

</head>
